:root {
    --text_bg: #ff4820;
}


/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    transition: all .3s ease;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}

body {
    background: #040f21;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-transform: capitalize;
    text-decoration: none;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: capitalize;
}

p {
    font-size: 14px;
    line-height: 25px;
}

.container {
    width: 85%;
    margin: 0 auto;
}